<html>
  <head>
    <title>Contact Brian</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:8080/">Brian J. Austin</a>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.linkedin.com/in/brianjayaustin/" target="blank">LinkedIn</a>
                </li>
              </ul>
            </div>  
          </nav>

        <div class="jumbotron" id="jumbotron-contact">
          <h1 class="display-4">Contact Me</h1>  
          <p class="lead">Share your contact info, and I will send you a quokka pic!</p>
          <hr class="my-4">
          <form id="contact" name="submit-to-google-sheet" action="/thanks" method="POST">
            <div class="form-group">
              <label class="label-contact" for="firstName">First Name:</label>
              <input class="form-control" id="firstName" name="firstName" type="text">
            </div>  
            <div class="form-group">
              <label class="label-contact" for="lastName">Last Name:</label>
              <input class="form-control" id="lastName" name="lastName" type="text">
            </div>
            <div class="form-group"></div>
              <label class="label-contact" for="email">Email:</label>
              <input class="form-control" id="email" name="email" type="text">
              <p class="form-text text-muted small fine-print">I will never share your email with anyone. Even if they ask nicely.</p>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
       
            </form>
        </div>


    </div>

    <script>  
        const scriptURL = "https://script.google.com/macros/s/AKfycbxSzlHyJW_yIaPdBiB7Q8Z8pclQZBPSt9Y8LEjyjcTpSpuf_Y1M/exec"  
        const form = document.forms["contact"]  
        form.addEventListener("submit", e => { 
         fetch(scriptURL, { method: "POST", body: new FormData(form)})  
          .then(response => console.log("Success!", response))  
          .catch(error => console.error("Error!", error.message))  
        })  
    </script> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>