<html>
  <head>
    <title> Brian's Portfolio </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora|Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- start navbar section -->
      <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Brian J. Austin</a>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/brianjayaustin/" target="blank">LinkedIn</a>
              </li>
            </ul>
          </div>  
      </nav>
      <!-- end navbar section -->

      <!-- start header section -->
      <div class="col-md-8 text-white">
        <div class="header-content">
          <h1 id="title-name">Brian J. Austin</h1>
          <p id="title-sub">Developer, Problem Solver, Decent Human</p>
          <hr color="white" width="90%" align="left">
        </div>
      </div>
      <!-- end header section -->

      <!-- begin jumbotron 1 section -->
      <div class="jumbotron" id="jumbotron1-index">
        <h3 class="display-4">Biography</h3>
        <hr class="my-4">
        <p class="bio">Brian spent the first 15 years of his life in Chicago before relocating with his family to Southern California. After spending his college years studying and playing drums in several local bands, Brian decided to expand his horizons by living and working abroad. This led to three years in Asia, Thailand, Taiwan, and India.</p>
        <p class="bio">During his time in Asia, he became involved in charity/NGO (non-governmental organization) work. This eventually brought him to Northeast India where he worked onsite for <a href="http://www.impulsengonetwork.org/" target="blank" class="link">Impulse NGO Network</a>, an internationally acclaimed anti-human trafficking organization. Upon returning to America, Brian settled in San Diego. While his work with Impulse and other non-profits continued, this did not pay the bills or provide a solid career path forward.</p>
        <p class="bio">Brian joined <a href="http://bespokepartners.com/" target="blank" class="link">Bespoke Partners</a> in late 2011. Bespoke was a five-month-old retained executive search firm specializing in C-level placements at private equity-backed software companies. He started in research and moved into recruiting by early 2012. Full of hardworking and fun employees, Bespoke grew steadily.</p>
        <p class="bio">With no Bespoke team member specializing in Chief Technology Officer searches, Brian raised his hand to take on this specialization. Over the next few years he became an expert on technology and product executive roles (CTO, VP Engineering, CPO). This motivated him to learn how to code.</p>
        <p class="bio">Bespoke Partners continued to grow. Brian took over managing the research team and also became more involved in bp|leadership, Bespoke’s leadership and assessment practice. After working on and leading dozens of searches (including CEO, CTO, CFO, CPO, and CSO roles), Brian realized that he wanted something more in his career, a different problem set. The path was software development.</p>
        <p class="bio">In the summer of 2017, Brian said goodbye to his wonderful human and K-9 colleagues at Bespoke, started a sabbatical, and got married in September. In January, he joined Origin Code Academy to solidify his software development skills and is focusing on full-stack web application development using JavaScript and NodeJS.</p>
        <p class="bio">Brian will hit the San Diego job market in July 2018. Get him while you can, and have a look at his <a href="https://www.linkedin.com/in/brianjayaustin/" target="blank" class="link">LinkedIn</a> and <a href="https://github.com/BrianAustin" target="blank" class="link">GitHub</a>.</p>
        <img src="img/brian-wedding-headshot.jpg" alt="brian-headshot" class="rounded-circle col-md-2">
        <hr class="my-4">
      </div>
      <!-- end jumbotron 1 section -->
      
      <!-- begin skills section -->

      <div class="jumbotron" id="jumbotron2-skills">
          <h3 class="display-4">Skills</h3>
          <hr class="my-4">
        <div class="row">  
          <div class="col-md-3 logo-margin">
            <img src="img/css-logo.png" alt="css" style="width:120px;height:160px;">
          </div>
          <div class="col-md-3 logo-margin">
              <img src="img/html-logo.png" alt="html" style="width:150px;height:160px;">

          </div>
          <div class="col-md-3 logo-margin">
              <img src="img/javascript-logo.png" alt="javascript" style="width:120px;height:160px;">

          </div>
          <div class="col-md-3 logo-margin">
              <img src="img/jquery-logo.gif" alt="jquery" style="width:120px;height:160px;">

          </div>
        </div>
        <!-- row end -->
        <div class="row">  
          <div class="col-md-3 logo-margin">
            <img src="img/react-logo.png" alt="react" style="width:170px;height:170px;">
          </div>
          <div class="col-md-3 logo-margin">
            <img src="img/redux-logo.png" alt="redux" style="width:120px;height:160px;">

          </div>
          <div class="col-md-3 logo-margin">
            <img src="img/node-logo.png" alt="nodejs" style="width:170px;height:50px;">

          </div>
          <div class="col-md-3 logo-margin">
            <img src="img/bootstrap-logo.png" alt="bootstrap" style="width:170px;height:90px;">

          </div>
        </div>
        <!-- row end -->
        <div class="row">  
            <div class="col-md-3 logo-margin">
              <a href="https://github.com/BrianAustin" target="blank">
                <img src="img/github-logo.png" alt="github" style="width:160px;height:160px;">
              </a>
            </div>
            <div class="col-md-3 logo-margin">
              <img src="img/mongodb-logo.png" alt="mongodb" style="width:160px;height:160px;">
  
            </div>
            <div class="col-md-3 logo-margin">
              <img src="img/mysql-logo.png" alt="mysql" style="width:140px;height:130px;">
  
            </div>
            <div class="col-md-3 logo-margin">
              <img src="img/wordpress-logo.png" alt="wordpress" style="width:180px;height:140px;">
  
            </div>
          </div>
        <!-- row end -->

      </div>

      <!-- end skills section -->

<!-- begin portfolio section -->
      <div class="jumbotron" id="jumbotron3-portfolio">
        <h3 class="display-4">Projects</h3>
        <hr class="my-4">
        <p class="portfolio-text">Check out my code on <a href="https://github.com/BrianAustin" target="blank">GitHub</a></p>
        <p class="portfolio-text">Below are a few screenshots from previous projects. Click on them to see them on Heroku.</p>
        <div class="row">
          <div class="col-md-12">
            <a href="https://ba-react100-find-a-climb.herokuapp.com/" target="blank">
              <img class="app-pics" src="img/find-a-climb-72dpi.png" alt="find-a-climb-app">
            </a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <a href="https://ba-react100-vstda.herokuapp.com/" target="blank">
                <img class="app-pics" src="img/todo-app-72dpi.png" alt="todo-app">
              </a>
            </div>
          </div>
      </div>    


    <!-- Below, closing container div -->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>